#agenda>*>*{
	padding: 0px;
	width: 587px !important;
}
#agenda>*>*>.close{
	background-color: #fff;
	position: absolute;
	right: 0px;
	top: 0px;
	margin: 0px;
	border-radius: 35px;
}
#agenda .ev-agenda-detail{
	padding-top: 0px;
	max-height: 600px;
}
