body{
	background-color: var(--COLOR--darkblue);
	background-image: -webkit-linear-gradient(-180deg, rgba(61, 124, 201, 1), rgba(61, 124, 201, 0));
}
#body .txt{
	font-size: 83px;
	width: 100%;
	height: 100%;
	padding-bottom: 18px;
	color: #fff;
	text-align: center;
	line-height: 0.95;
	letter-spacing: 0.01em;
}
#body .txt>*{
	display: block;
	margin: auto;
}